.portfolioCover {
  border-radius: 1.5rem;
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.portfolioCover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.portfolioTitle {
  color: var(--color-primary);
  text-align: center;
  margin-top: 0.8rem;
}
