.portfolioSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* .portfolioSection > *:not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  margin-top: 2rem;
} */

.portfolioSection a {
  text-decoration: none;
}
