.home {
  margin-top: 2rem;
}

.portfolioSection {
  display: flex;
  flex-direction: column;
}

.portfolioSection > *:not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  margin-top: 2rem;
}
