:root {
  /* Color Variables */
  --color-primary: #fd8042;
  --color-background: #000000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem;
  background-color: var(--color-background);
}
